<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Input</title>
  </head>
  <body>
    <!-- Simple input box -->

    <div class="input-container">
      <label>Input-Label</label>
      <input type="text" placeholder="Enter text" />
    </div>
    <br />

    <!-- Success input box -->

    <div class="input-container success-msg">
      <label>Input-Label</label>
      <input type="text" placeholder="Enter text" />
      <span>Success message</span>
    </div>
    <br />

    <!--Error input box -->

    <div class="input-container error-msg">
      <label>Input-Label</label>
      <input type="text" placeholder="Enter text" />
      <span>Error message</span>
    </div>
    <br />
  </body>
</html>
