<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9b2e1beb4b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Button</title>
  </head>
  <body>
    <!-- Buttons with different variations-->

    <h2>Primary Buttons</h2>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-dark">Dark</button>

    <!-- Buttons with icons-->
    <br /><br />
    <h2>Buttons with icons</h2>
    <button class="btn btn-primary">
      <i class="fa-solid fa-circle-xmark"></i>
      Wrong
    </button>
    <button class="btn btn-success">
      <i class="fa-solid fa-circle-check"></i>
      Success
    </button>
    <button class="btn btn-warning">
      <i class="fa-solid fa-triangle-exclamation"></i>
      Warning
    </button>
    <button class="btn btn-info">
      <i class="fa-solid fa-circle-info"></i>
      Info
    </button>

    <!-- Buttons with links -->
    <br /><br />
    <h2>Buttons with links</h2>

    <button class="btn-link btn-link-primary">Link</button>
    <button class="btn-link btn-link-success">Success</button>
    <button class="btn-link btn-link-info">Info</button>
  </body>

  <!-- Floating action button -->
  <br /><br />
  <h2>Floating action button</h2>
  <button class="btn btn-floating btn-primary">
    <i class="fa-solid fa-plus"></i>
  </button>
</html>
