<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Avatar</title>
  </head>
  <body>
    <!-- Image avatar with different sizes lg:large md:medium sm:small xs:extra small -->

    <img src="../../images/profile.jpeg" class="avatar-img avatar-lg" />
    <img src="../../images/profile.jpeg" class="avatar-img avatar-md" />
    <img src="../../images/profile.jpeg" class="avatar-img avatar-sm" />
    <img src="../../images/profile.jpeg" class="avatar-img avatar-xs" />

    <!-- Text avatar with different sizes lg:large md:medium sm:small xs:extra small -->

    <div class="avatar-text avatar-lg">LK</div>
    <div class="avatar-text avatar-md">LK</div>
    <div class="avatar-text avatar-sm">LK</div>
    <div class="avatar-text avatar-xs">LK</div>
  </body>
</html>
