/* CSS for cards */

.card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.c-badge {
  width: fit-content;
  background-color: var(--white-color);
  display: none;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
}

.card-badge .c-badge {
  display: flex;
}

.c-dismiss {
  display: none;
  position: absolute;
  right: 5%;
  top: 3%;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.card-dismiss .c-dismiss {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.card-title {
  padding: 10px 10px 0px 10px;
}

.card-description {
  padding: 10px 10px 0px 10px;
}

.action-buttons {
  padding: 5px 10px;
  margin: 10px 0px;
}

.card-overlay .content {
  position: relative;
}

.card-overlay .about {
  position: absolute;
  bottom: 125%;
  color: white;
  z-index: 1;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  width: 550px;
  border-radius: 8px;
}

.card-horizontal .card-img {
  width: 80%;
  height: 250px;
}

.card-horizontal img {
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

.card-shadow {
  box-shadow: 0 3px 10px var(--black-color);
}

.text-card img {
  display: none;
}

.select-area,
.card-area {
  display: flex;
  width: 50%;
  justify-content: center;
}

select {
  width: 200px;
  height: 40px;
  border: 2px solid var(--action-color);
  border-radius: 4px;
}
