<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9b2e1beb4b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Cards</title>
    <script src="script.js"></script>
  </head>
  <body style="background-color: #bebdbd">
    <div class="card-container">
      <!-- Code to change different cards using select -->
      <div class="select-area">
        <select onchange="changeCard(event.target.value)">
          <option value="1">Card with badge</option>
          <option value="2">Card with dismiss</option>
          <option value="3">Card with text overlay</option>
          <option value="4">Text only card</option>
          <option value="5">Horizontal card</option>
          <option value="6">Card with shadow</option>
        </select>
      </div>

      <!-- Same HTML code for all cards -->
      <div class="card-area">
        <div class="card card-badge">
          <div class="c-badge">New</div>
          <div class="c-dismiss">
            <i class="fa-solid fa-circle-xmark"></i>
          </div>
          <div class="card-img">
            <img src="../../images/iPhone.jpeg" />
          </div>
          <div class="content">
            <div class="about">
              <div class="card-title">
                <h3 id="title">Card with Badge</h3>
              </div>
              <div class="card-description">
                <p id="description">
                  Card with badge, image and vertical aligned content.
                </p>
              </div>
            </div>
            <div class="action-buttons">
              <button class="btn btn-primary">Read More</button>
              <button class="btn btn-info">
                <i class="fa-solid fa-circle-info"></i>
                Info
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
