@import url("../image/css/styles.css");
@import url("../input/css/styles.css");
@import url("../text/css/styles.css");
@import url("../lists/css/styles.css");
@import url("../rating/css/styles.css");
@import url("../../css/styles.css");
@import url("../../docs/css/styles.css");

:root {
  --primary-color: #ff3b30;
  --secondary-color: #fff6ea;
  --action-color: #3b82f6;
  --gray-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #ffffff;
  --lynx-white-color: #f7f7f7;
  --violet-color: #5348c7;
  --lynx-gray: #c5c5c5;

  --green-color: #596;
  --yellow-color: #ffff00;
  --footer-color: #333;

  font-family: "Raleway", sans-serif;
}

/* Background colors */

.bg-green {
  background-color: var(--green-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

/* CSS for headers */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

/* CSS for Avatar  */

.avatar-img {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-text {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-lg {
  width: 10rem;
  height: 10rem;
  font-size: 3rem;
}

.avatar-md {
  width: 7.5rem;
  height: 7.5rem;
  font-size: 2rem;
}

.avatar-sm {
  width: 5rem;
  height: 5rem;
  font-size: 1.5rem;
}

.avatar-xs {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
}

/* CSS for Badge  */

.badge {
  display: inline-block;
  position: relative;
  font-size: 3em;
}

.icon-area {
  width: 1em;
  height: 1em;
}

.badge-on-avatar {
  width: 13%;
  height: 13%;
  position: absolute;
  top: 75%;
  left: 81%;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.badge-on-icon {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  right: -18%;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.badge-number {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 0.25em;
}

/* CSS for Alert  */

.alert {
  width: auto;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: var(--white-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

.alert i {
  font-size: 1.5em;
  margin-right: 10px;
}

.alert-primary {
  background-color: var(--primary-color);
}

.alert-secondary {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

.alert-success {
  background-color: var(--green-color);
}

.alert-warning {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.alert-info {
  background-color: var(--action-color);
}

.alert-dark {
  background-color: var(--black-color);
  opacity: 0.7;
}

/* CSS for Buttons */

.btn {
  padding: 0.8rem;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--black-color);
}

.btn-success {
  background-color: var(--green-color);
}

.btn-warning {
  background-color: var(--yellow-color);
  color: var(--black-color);
}

.btn-info {
  background-color: var(--action-color);
}

.btn-dark {
  background-color: var(--black-color);
}

.btn-link {
  border: none;
  font-size: 1.25rem;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.btn-link-primary {
  color: var(--primary-color);
}

.btn-link-success {
  color: var(--green-color);
}

.btn-link-info {
  color: var(--action-color);
}

.btn-floating {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0 3px 10px var(--black-color);
}

/* CSS for cards */

.card-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.c-badge {
  width: fit-content;
  background-color: var(--white-color);
  display: none;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
}

.card-badge .c-badge {
  display: flex;
}

.c-dismiss {
  display: none;
  position: absolute;
  right: 5%;
  top: 3%;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}

.card-dismiss .c-dismiss {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.card-title {
  padding: 10px 10px 0px 10px;
}

.card-description {
  padding: 10px 10px 0px 10px;
}

.action-buttons {
  padding: 5px 10px;
  margin: 10px 0px;
}

.card-overlay .content {
  position: relative;
}

.card-overlay .about {
  position: absolute;
  bottom: 125%;
  color: white;
  z-index: 1;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  width: 550px;
  border-radius: 8px;
}

.card-horizontal .card-img {
  width: 80%;
  height: 250px;
}

.card-horizontal img {
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

.card-shadow {
  box-shadow: 0 3px 10px var(--black-color);
}

.text-card img {
  display: none;
}

.select-area,
.card-area {
  display: flex;
  width: 50%;
  justify-content: center;
}

select {
  width: 200px;
  height: 40px;
  border: 2px solid var(--action-color);
  border-radius: 4px;
}
