@import url("../alert/alert.css");
@import url("../avatar/avatar.css");
@import url("../badge/badge.css");
@import url("../button/button.css");
@import url("../cards/cards.css");
@import url("../image/image.css");
@import url("../input/input.css");
@import url("../lists/styles.css");
@import url("../rating/rating.css");
@import url("../text/text.css");

:root {
  --primary-color: #ff3b30;
  --secondary-color: #fff6ea;
  --action-color: #3b82f6;
  --gray-color: #9a9a9a;
  --black-color: #282828;
  --white-color: #ffffff;
  --lynx-white-color: #f7f7f7;
  --violet-color: #5348c7;
  --lynx-gray: #c5c5c5;

  --green-color: #596;
  --yellow-color: #ffff00;
  --footer-color: #333;

  font-family: "Raleway", sans-serif;
}

/* Background colors */

.bg-green {
  background-color: var(--green-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

/* CSS for headers */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

body {
  margin: 0px;
}
