<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <script
      src="https://kit.fontawesome.com/9b2e1beb4b.js"
      crossorigin="anonymous"
    ></script>
    <title>Ratings</title>
  </head>
  <body>
    <div class="rating">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
  </body>
  <script src="../rating/javascript/script.js"></script>
</html>
