<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9b2e1beb4b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Badge</title>
  </head>
  <body>
    <!-- Badge on different avatar sizes -->

    <div class="badge">
      <img src="../../images/profile.jpeg" class="avatar-img avatar-lg" />
      <span class="badge-on-avatar"></span>
    </div>
    <div class="badge">
      <img src="../../images/profile.jpeg" class="avatar-img avatar-md" />
      <span class="badge-on-avatar"></span>
    </div>
    <div class="badge">
      <img src="../../images/profile.jpeg" class="avatar-img avatar-sm" />
      <span class="badge-on-avatar"></span>
    </div>
    <div class="badge">
      <img src="../../images/profile.jpeg" class="avatar-img avatar-xs" />
      <span class="badge-on-avatar"></span>
    </div>

    <!-- Badge on icons with number -->

    <div class="badge">
      <i class="fas fa-envelope"></i>
      <span class="badge-on-icon badge-number">4</span>
    </div>
    <div class="badge">
      <i class="fas fa-comment"></i>
      <span class="badge-on-icon badge-number">4</span>
    </div>
  </body>
</html>
