<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Text</title>
  </head>
  <body>
    <!-- HTML for headers -->

    <h1>Header Text - h1</h1>
    <h2>Header Text - h2</h2>
    <h3>Header Text - h3</h3>
    <h4>Header Text - h4</h4>
    <h5>Header Text - h5</h5>
    <br />

    <!-- HTML for text of various sizes. -->

    <p class="xl-text">Lorem ipsum</p>
    <p class="l-text">Lorem ipsum</p>
    <p class="md-text">Lorem ipsum</p>
    <br />

    <!-- Small text -->

    <p class="sm-text">Lorem ipsum</p>
    <p class="xs-text">Lorem ipsum</p>
    <br />

    <!-- Gray text -->

    <p class="l-text gray-text">Lorem ipsum</p>
    <br />

    <!-- center text -->

    <p class="l-text center-text">Lorem ipsum</p>
  </body>
</html>
