<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9b2e1beb4b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <title>Alert</title>
  </head>
  <body>
    <!-- Alert with simple text messages -->

    <h2>Alert with text message</h2>
    <div class="alert alert-primary">
      Alert with text message and primary color.
    </div>
    <br />
    <div class="alert alert-secondary">
      Alert with text message and secondary color.
    </div>
    <br />
    <div class="alert alert-success">Alert with success text message.</div>
    <br />
    <div class="alert alert-warning">Alert with warning text message.</div>
    <br />
    <div class="alert alert-info">Alert with information.</div>
    <br />
    <div class="alert alert-dark">Alert with dark background.</div>
    <br />

    <!-- Alert with icon and text messages -->

    <h2>Alert with icon and text message</h2>
    <div class="alert alert-info">
      <i class="fa-solid fa-circle-info"></i>
      Alert with information and icon.
    </div>
    <br />
    <div class="alert alert-success">
      <i class="fa-solid fa-circle-check"></i>
      Alert with success text message and icon.
    </div>
    <br />
    <div class="alert alert-primary">
      <i class="fa-solid fa-circle-xmark"></i>
      Alert with danger text message and icon.
    </div>
    <br />
    <div class="alert alert-warning">
      <i class="fa-solid fa-triangle-exclamation"></i>
      Alert with warning text message and icon.
    </div>
  </body>
</html>
