.list {
  line-height: 1.5rem;
}

.list-circle {
  list-style-type: circle;
}

.list-square {
  list-style-type: square;
}

.list-alpha {
  list-style-type: lower-alpha;
}

.list-header {
  text-align: center;
}

.stacked {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 8px 6px var(--lynx-gray);
}

.stacked li {
  padding: 8px 16px;
  border-bottom: 1px solid var(--gray-color);
  background-color: var(--lynx-white-color);
}

.stacked li:last-child {
  border-bottom: none;
}
